@import "./common/vars";
@import "./mixins/alert";

.mi-alert {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0;
  overflow: hidden;
  border-radius: 4px;
  transition: opacity 0.2s;

  &__close {
    position: absolute;
    top: 9px;
    right: 16px;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
  }

  &__title {
    margin: 0;
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
    font-weight: 700;
  }

  &__description {
    margin: 0;
    font-size: 14px;
  }

  @each $theme, $theme-color in $theme-colors {
    &--#{$theme} {
      @include alert-variant($theme-color);
    }
  }
}
