@mixin button-text($color) {
  color: $color;
  background: transparent;
  border-color: transparent;

  &:hover {
    color: $color;
    background-color: mix($--color-white, $color, 90%);
    border-color: transparent;
  }

  &:active {
    color: $color;
    background-color: mix($--color-white, $color, 90%);
    border-color: transparent;
  }

  &.is-disabled {
    &,
    &:hover,
    &:active {
      color: mix($--color-white, $color);
      background: transparent;
      border-color: transparent;
    }
  }
}

@mixin button-outline($color) {
  color: $color;
  background: mix($--color-white, $color, 90%);
  border-color: mix($--color-white, $color, 60%);

  &:hover {
    color: $--color-white;
    background: $color;
    border-color: $color;
  }

  &:active {
    color: $--color-white;
    background: mix($--color-black, $color, 10%);
    border-color: mix($--color-black, $color, 20%);
  }

  &.is-disabled {
    &,
    &:hover,
    &:active {
      color: mix($--color-white, $color, 40%);
      background-color: mix($--color-white, $color, 90%);
      border-color: mix($--color-white, $color, 80%);
    }
  }
}

@mixin button-variant($color, $background-color, $border-color) {
  color: $color;
  background: $background-color;
  border-color: $border-color;

  &:hover {
    color: $color;
    background: mix($--color-white, $background-color, 20%);
    border-color: mix($--color-white, $border-color, 20%);
  }

  &:active {
    color: $color;
    background: mix($--color-white, $background-color, 10%);
    border-color: mix($--color-white, $border-color, 10%);
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      color: $--color-white;
      background-color: mix($background-color, $--color-white);
      border-color: mix($border-color, $--color-white);
    }
  }

  &.is-outline {
    @include button-outline($background-color);
  }

  &.is-text {
    @include button-text($background-color);
  }
}
