@import "./common/vars";
@import "./mixins/button";

.mimic-button {
  box-sizing: border-box;
  display: inline-block;
  padding: 12px 20px;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: $--button-default-font-color;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background: $--button-default-background-color;
  border: 1px solid $--button-default-border-color;
  border-radius: 4px;
  outline: none;
  transition: 0.1s;

  & + & {
    margin-left: 10px;
  }

  &:hover {
    background: $--button-hover-background-color;
  }

  &:active {
    transform: translateY(0.5px);
  }

  &:disabled {
    &,
    &:hover,
    &:focus {
      color: $--button-disabled-font-color;
      cursor: not-allowed;
      background: $--button-disabled-background-color;
      background-image: none;
    }
  }

  &.is-block {
    display: block;
    width: 100%;
  }

  &--primary {
    @include button-variant($--color-white, $--color-primary, $--color-primary);
  }

  &--success {
    @include button-variant($--color-white, $--color-success, $--color-success);
  }

  &--warning {
    @include button-variant($--color-white, $--color-warning, $--color-warning);
  }

  &--danger {
    @include button-variant($--color-white, $--color-danger, $--color-danger);
  }

  &--dark {
    @include button-variant($--color-white, $--color-dark, $--color-dark);
  }
}
