$--color-white: #ffffff !default;
$--color-black: #000000 !default;

$--color-primary: #409eff !default;
$--color-success: #67c23a !default;
$--color-warning: #e6a23c !default;
$--color-danger: #f56c6c !default;
$--color-hazard: #946bcb !default;
$--color-happiness: #ffc0cb !default;
$--color-tradition: #ae7b52 !default;
$--color-dark: #212529 !default;

// theme-color
$theme-colors: (
  "primary": $--color-primary,
  "success": $--color-success,
  "warning": $--color-warning,
  "danger": $--color-danger,
  "hazard": $--color-hazard,
  "happiness": $--color-happiness,
  "tradition": $--color-tradition,
  "dark": $--color-dark
) !default;

// font-size
$--font-size-base: 1rem !default;
$--font-size-xs: 0.75rem !default;
$--font-size-sm: 0.875rem !default;
$--font-size-lg: 1.125rem !default;
$--font-size-xl: 1.25rem !default;

$font-sizes: (
  "xs": $--font-size-xs,
  "sm": $--font-size-sm,
  "md": $--font-size-base,
  "lg": $--font-size-lg,
  "xl": $--font-size-xl,
) !default;

// line-height
$--line-height-base: 1.5rem;
$--line-height-xs: 1rem !default;
$--line-height-sm: 1.25rem !default;
$--line-height-lg: 1.75rem !default;
$--line-height-xl: 1.75rem !default;

$line-heights: (
  "xs": $--line-height-xs,
  "sm": $--line-height-sm,
  "md": $--line-height-base,
  "lg": $--line-height-lg,
  "xl": $--line-height-xl
) !default;

// text
$--color-text-regular: #606266 !default;
$--color-text-placeholder: #c0c4cc !default;

// border
$--border-color-base: #dcdfe6 !default;
$--border-color-light: #e4e7ed !default;
$--border-color-lighter: #ebeef5 !default;

// button
$--button-default-font-color: $--color-text-regular !default;
$--button-default-background-color: $--color-white !default;
$--button-default-border-color: $--border-color-base !default;
$--button-hover-background-color: #f9f9f9 !default;

$--button-disabled-font-color: $--color-text-placeholder !default;
$--button-disabled-background-color: $--color-white !default;
$--button-disabled-border-color: $--border-color-lighter !default;

// input
$--input-font-color: $--color-text-regular !default;
$--input-background-color: $--color-white !default;
$--input-border-color: $--border-color-base !default;
$--input-hover-border-color: $--color-primary !default;

$--input-font-additional-color: #909399 !default;
$--input-disable-background-color: #f5f7fa !default;
$--input-disable-border-color: $--border-color-light !default;
$--input-disable-text-color:  $--color-text-placeholder !default;

// image
$--image-failed-color: #f9f9f9 !default;
